{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier"
  ],
  "env": {
    "browser": true
  },
  "plugins": [
    "prettier"
  ],
  "rules": {
    "max-len": ["error", {"code": 100}],
    "prefer-promise-reject-errors": "off",
    "react/jsx-filename-extension": "off",
    "react/prop-types": "warn",
    "no-return-assign": "off"
  }
}
